.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.order-section {
  display: flex;
  align-items: Center;
  justify-content: space-around;
}
.cart-container {
  position: relative;
  margin-right: 30px;
}

.text {
  font-weight: bold;
  margin-right: 10px;
}
.cart-icon {
  width: 24px;
  height: 24px;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}
